<div class="animated fadeIn">
  <div class="row">
    <div class="col-xs-12 col-12 d-sm-down-none">
      <div class="card">
        <div class="card-header">
          <h1>Cadastro de Funcionários</h1>
        </div>
        <div class="card-body">
          <div class="row">
          <div class="form-group col-8">
            <label for="nomefuncionario"><strong>Nome do Funcionário :</strong></label>
            <input type="text" class="form-control" id="nomefuncionario" placeholder="Digite o Nome do funcionário">
          </div>
            <div class="form-group col-sm-4">
                <label for="cargofuncao"> <strong>Cargo/Função :</strong></label>
                <select class="form-control">
                    <option>Desenvolvedor</option>
                    <option>Chefe setor</option>
                    <option>Suporte</option>
                    <option>Desenvolvedor/suporte</option>
                  </select>
               </div>


          </div>
          <div class="row">
                <div class="form-group col-sm-4">
                  <label for="telefone"> <strong>Telefone :</strong></label>
                  <input type="text" class="form-control" id="telefone" placeholder="Digite o telefone">
                </div>
              </div>
        </div>
      </div>


      <div class="row align-items-center mt-3">
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-outline-primary">Incluir</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-outline-primary">Editar</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-outline-primary">Listar</button>
        </div>
        <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
          <button type="button" class="btn btn-block btn-outline-primary">Excluir</button>
        </div>
      </div>
    </div>
    <!--/.col-->

  </div>
  <!--/.row-->
</div>
<br />
