<div class="animated fadeIn">
    <div class="row">
      <div class="col-xs-12 col-12 d-sm-down-none">
        <div class="card">
          <div class="card-header">
            <h1>Cadastro de Usuários</h1>
          </div>
          <div class="card-body">
            <div class="row">
                <div class="form-group col-12">
                    <label for="usuario"><strong>Nome do Usuário :</strong></label>
                    <input type="text" class="form-control" id="usuario" placeholder="Digite o nome do usuário">
                 </div>
            </div>

            <div class="row">
                  <div class="form-group col-sm-4">
                    <label for="login"> <strong>Login :</strong></label>
                    <input type="text" class="form-control" id="login" placeholder="Digite o login do usuário">
                  </div>
                  <div class="form-group col-sm-4">
                      <label for="senha"> <strong>Senha :</strong></label>
                      <input type="password" class="form-control" id="senha" placeholder="Digite a senha do usuário" maxlength="10">
                    </div>
                    <div class="form-group col-sm-4">
                        <label for="confirmacaoSenha"> <strong>Confirmação da Senha :</strong></label>
                        <input type="password" class="form-control" id="confirmacaoSenha" placeholder="Digite a senha para confirmação" maxlength="10">
                      </div>
              </div>
              <div class="row">
                  <div class="form-group col-12">
                      <label for="email"><strong>E-mail :</strong></label>
                      <input type="text" class="form-control" id="email" placeholder="Digite o E-mail do usuário">
                   </div>
              </div>

          </div>
        </div>


        <div class="row align-items-center mt-3">
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-primary">Incluir</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-primary">Editar</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-primary">Listar</button>
          </div>
          <div class="col-6 col-sm-4 col-md-2 col-xl mb-3 mb-xl-0">
            <button type="button" class="btn btn-block btn-outline-primary">Excluir</button>
          </div>
        </div>
      </div>
      <!--/.col-->

    </div>
    <!--/.row-->
  </div>
  <br />
